.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-box {
    padding: 20px;
    background-color: #1f233f;
    border-radius: 4px;
    outline: none;
    min-width: 400px;
  }
}
